In [71]:
ID = [8,56,148,176]
grp = ['low','low','low','low']
time = [10,5.4,10,10]
first=[1,1,1,1]
second=[1,0,1,0]
third=[1,1,1,1]
fourth=['NaN','NaN',1,0]

In [72]:
s = pd.DataFrame({'ID':ID , 'grp':grp, 'time':time  , '1':first,'4':second,'8':third,'111':fourth})

In [73]:
s = s[['ID','grp','time','1','4','8','111']]

In [79]:
s['111'][0] = np.NAN

In [80]:
s['111'][1] = np.NAN

/Users/Neuromancer/anaconda3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [81]:
t = s[['1','4','8','111']]

In [82]:
t

   1  4  8  111
0  1  1  1  NaN
1  1  0  1  NaN
2  1  1  1    1
3  1  0  1    0

In [83]:
t.isnull()

       1      4      8    111
0  False  False  False   True
1  False  False  False   True
2  False  False  False  False
3  False  False  False  False

In [84]:
t.isnull().sum(axis=1)

0    1
1    1
2    0
3    0
dtype: int64

In [85]:
s['no_attempt'] = t.isnull().sum(axis=1)

In [86]:
s

    ID  grp  time  1  4  8  111  no_attempt
0    8  low  10.0  1  1  1  NaN           1
1   56  low   5.4  1  0  1  NaN           1
2  148  low  10.0  1  1  1    1           0
3  176  low  10.0  1  0  1    0           0

In [89]:
s['correct'] = t.sum(axis=1)

In [98]:
s['incorrect'] = t.shape[1]-t.sum(axis=1,skipna=True)-s['no_attempt']

In [99]:
s

    ID  grp  time  1  4  8  111  no_attempt  correct  incorrect
0    8  low  10.0  1  1  1  NaN           1        3          0
1   56  low   5.4  1  0  1  NaN           1        2          1
2  148  low  10.0  1  1  1    1           0        4          0
3  176  low  10.0  1  0  1    0           0        2          2